body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "McLaren", "Comic Sans", sans-serif;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 950px;
}

header, footer {
    background-color: rgb(60, 51, 129);
    color: white;
    text-align: center;
}

header {
    padding: 1.5rem;
}

img {
    float: right;
    margin: 10px;
}

footer {
    max-width: 950px;
    max-height: 150px;
    padding: 5px;
}

#currentdate {
    color: black;
}

#lastmodified {
    color: black;
}